<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Love,Sex,Friendship</title>
        <link rel="stylesheet" href="style.css" >
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    </head>
    <body id="background">
            <div id="btnPos"class="btn" name="Love">Love</div>
            <div id="btnPos2"class="btn" name="Sex">Sex</div>
            <div id="btnPos3"class="btn" name="Friendship">Friendship</div>
    </body>
    
    
</html>