<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <!--<link rel="stylesheet" type="text/css" href="templates/style.css">-->
        <title>Zodiac Selection</title>
    </head>
    <style>
        #main_page{
            background-image: url("img/")
            
        }
        .title {
            color:#299cce;
            font-family:Georgia;
        }
        .sign{
            color:#f49842;
        }
    </style>
    
    <body id= "main_page">
        
        <h1 class= "title"> Aligned </h1>
    
        <h2>Welcome, {{name}}!</h2>
        
        <br> 
       <form method=POST action='/main2'>
           <input type="radio" name="sign" value="Aquarius" checked > Aquarius<br>
           <input type="radio" name="sign" value="Pisces"> Pisces<br>
           <input type="radio" name="sign" value="Aries"> Aries<br>
           <input type="radio" name="sign" value="Taures"> Taures<br>
           <input type="radio" name="sign" value="Leo"> Leo<br>
           <input type="radio" name="sign" value="Capricorn"> Capricorn<br>
           <input type="radio" name="sign" value="Gemini"> Gemini<br>
           <input type="radio" name="sign" value="Libra"> Libra<br>
           <input type="radio" name="sign" value="Scorpio"> Scorpio<br>
           <input type="radio" name="sign" value="Virgo"> Virgo<br>
           <input type="radio" name="sign" value="Sagittarius"> Sagittarius<br>
           <input type="radio" name="sign" value="Cancer"> Cancer<br>
           <input type="submit" name="submit" value="submit">
       </form> 
       
       
    </body>
    
    
    
</html>