<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <!--<link rel="stylesheet" type="text/css" href="templates/style.css">-->
        <title>Zodiac Selection</title>
    </head>
    <style>
        #main_page{
            background-image: url("img/")
            
        }
        .title {
            color:#299cce;
            font-family:Georgia;
        }
        .sign{
            color:#f49842;
        }
    </style>
    
    <body id= "main_page">
        
        <h1 class= "title"> Aligned </h1>
    
        <h2>Welcome, {{name}}!</h2>
        
        <br> 
       <form method=POST action='/main2'>
           <input type="radio" name="sign" value="Aquarius" checked > Aquarius<br>(Jan20th-Feb18th)<br>
           <input type="radio" name="sign" value="Pisces"> Pisces<br>(Feb19th-Mar20th)<br>
           <input type="radio" name="sign" value="Aries"> Aries<br>(Mar21st-Apr19th)<br>
           <input type="radio" name="sign" value="Taures"> Taures<br>(Apr20th-May20th)<br>
           <input type="radio" name="sign" value="Gemini"> Gemini<br>(May21st-Jun20th)<br>
           <input type="radio" name="sign" value="Cancer"> Cancer<br>(Jun21st-Jul22nd)<br>
           <input type="radio" name="sign" value="Leo"> Leo<br>(Jul23rd-Aug22nd)<br>
           <input type="radio" name="sign" value="Virgo"> Virgo<br>(Aug23rd-Sept22nd)<br>
           <input type="radio" name="sign" value="Libra"> Libra<br>(Sept23rd-Oct22nd)<br>
           <input type="radio" name="sign" value="Scorpio"> Scorpio<br>(Oct23rd-Nov21st)<br>
           <input type="radio" name="sign" value="Sagittarius"> Sagittarius<br>(Nov22nd-Dec21st)<br>
           <input type="radio" name="sign" value="Capricorn"> Capricorn<br>(Dec22nd-Jan19th)<br>
           <input type="submit" name="submit" value="submit">
       </form> 
       
       
    </body>
    
    
    
</html>