<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <!--<link rel="stylesheet" type="text/css" href="templates/style.css">-->
        <title>Welcome to Aligned!</title>
    </head>
    <style>
        .body {
            background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jPLiQ-9/looped-4kuhd-nebula-galaxy-star-space-background-for-different-events-and-projects_rm2jcfxb__F0012.png);
            background-size:cover;
            
        }
        .title {
            color:#299cce;
            font-family:Georgia;
            text-align: center;
        }
        .sign{
            color:#f49842;
        }
    </style>
    
    <body class="body">
        
        <h1 class= "title"> Aligned </h1>
        <h2 class= "title">What is your name?</h2>
        <form class ="title" method=POST action ="/">
            <input type="text" name="user_name" value="">
        </form>

    </body>
    
    
    
</html>