<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <!--<link rel="stylesheet" type="text/css" href="templates/style.css">-->
        <title>Zodiac Selection</title>
    </head>
    <style>
        #main_page{
            background-image: url("img/")
            
        }
        .title {
            color:#299cce;
            font-family:Georgia;
        }
        .sign{
            color:#f49842;
        }
    </style>
    
    <body id= "main_page">
        
        <h1 class= "title"> Aligned </h1>
    
        <h2>Welcome, {{name}}!</h2>
        
        <br> 
         
        <!--<h3 class="title">Choose your zodiac sign</h3>-->
        <!--<b><li><a href="/aquarius" class="sign">Aquarius</a></li></b>-->
        <!--<b><li><a href="/pisces" class = "sign" >Pisces</a></li></b>-->
        <!--<b><li><a href="/aries" class="sign">Aries</a></li></b>-->
        <!--<b><li><a href="/taures" class="sign">Taures</a></li></b>-->
        <!--<b><li><a href="/gemini" class="sign">Gemini</a></li></b>-->
        <!--<b><li><a href="/cancer" class="sign">Cancer</a></li></b>-->
        <!--<b><li><a href="/leo" class="sign">Leo</a></li></b>-->
        <!--<b><li><a href="/virgo" class="sign">Virgo</a></li></b>-->
        <!--<b><li><a href="/libra" class="sign">Libra</a></li></b>-->
        <!--<b><li><a href="/scorpio" class="sign">Scorpio</a></li></b>-->
        <!--<b><li><a href="/sagittarius" class="sign">Sagittarius</a></li></b>-->
        <!--<b><li><a href="/capricorn" class="sign">Capricorn</a></li></b>-->
       <form method=POST action='/main2'>
           <input type="radio" name="sign" value="aquarius" checked > Aquarius<br>
           <input type="radio" name="sign" value="pisces"> Pisces<br>
           <input type="radio" name="sign" value="aries"> Aries<br>
           <input type="radio" name="sign" value="taures"> Taures<br>
           <input type="radio" name="sign" value="leo"> Leo<br>
           <input type="radio" name="sign" value="capricorn"> Capricorn<br>
           <input type="radio" name="sign" value="gemini"> Gemini<br>
           <input type="radio" name="sign" value="libra"> Libra<br>
           <input type="radio" name="sign" value="scorpio"> Scorpio<br>
           <input type="radio" name="sign" value="virgo"> Virgo<br>
           <input type="radio" name="sign" value="sagittarius"> Sagittarius<br>
           <input type="radio" name="sign" value="cancer"> Cancer<br>
           <input type="submit" name="submit" value="submit">
       </form> 
       
       
    </body>
    
    
    
</html>